<phpunit bootstrap="./vendor/autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         disallowChangesToGlobalState="true"
         colors="true"
         verbose="true">
    <php>
        <ini name="display_errors" value="1"/>
    </php>
    <testsuites>
        <testsuite name="abacaphiliac/php-extractor">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
